@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Bold.woff2") format('woff2'),
    url("../fonts/Lato-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.uptitle {
    font-family: 'Rubik Distressed', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 2.5em;
    text-align: center;
    color: darkblue;
    margin: 25px;
}

.title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    text-shadow: -2px -2px 3px #6d6b6b;
    margin: 0 25px 25px 25px;
}

p, span {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-align: justify;
    line-height: 150%;
    max-width: 900px;
    padding: 0 25px;
    margin: 0 0 25px;
}

a.link {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    display: inline-block;
    text-decoration: underline;
    color: green;
    margin: 0 0 10px;
}

p.content_1 {
    display: inline;
}

p.content_2 {
    display: inline;
}

p.content_3 {
    margin: 25px;
    border: 3px dashed rgba(241, 241, 4, 0.89);
    box-shadow: 5px 5px 5px 5px coral;
}

p.content_4 {
    max-width: 500px;
    height: 100px;
    overflow: auto;
}

p.content_5 {
    background-color: dodgerblue;
    padding: 25px;
    margin: 25px;
    min-width: 200px;
}

p.content_6 {
    margin: 25px;
    border: 3px dotted darkblue;
    box-shadow: inset 0 0 15px 1px darkred;
}

span.content_7 {
    background-color: #f167b1;
    line-height: 500%;
    padding: 25px;
}

p.content_8 {
    overflow: scroll;
    opacity: 0.5;
}

p.content_9 {
    max-width: 40%;
}

span.content_10, span.content_11 {
    display: block;
    padding: 0 0 0 25px;
}

p.content_15 {
    display: none;
}

p.content_16 {
    max-width: 400px;
    height: 50px;
    overflow: hidden;
}

.image {
    display: block;
    max-width: 700px;
    margin: 0 auto 25px;
}

.image_1 {
    background-color: mediumpurple;
    padding: 25px;
    margin: 25px;
}

.image_2 {
    width: 100%;
}
.image_3 {
    margin: 0 auto 25px;
    opacity: 0.5;
}

h2 {
    border-top: 1px solid #9f9a9a;
}

